<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    </br>
    </br>
    </br>
    </br>
    <footer id="footer">
      {% block footer %}
      <center>&copy; Copyright 2010 by <a href="http://CoffeCode.com.br/">CoffeCode</a>.</center>
      {% endblock %}
    </footer>

  </body>
</html>